{{!-- <h1>We are using partials header file to show in every file.</h1> --}}
<h1>{{title}}</h1>
<header>
<div class="container">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/weather">weather</a>
</div>
</header>
