<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    

     {{>header}}
    <form action="" class="form"> 
        <input placeholder="Type your city name" type="text"> 
        <button>Fetch Weather</button>
    </form>
    <p class="p1"></p>
    <p class="p2"></p>
</body>
<script src="/js/index.js"></script>
</html>